
@{
    ViewData["Title"] = "Gobernabilidad, Gerencia Política y Gestión Pública";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Gobernabilidad, Gerencia Política y Gestión Pública</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="mb-3">Módulo I</h3>
            <h3 class="mb-3">Módulo II</h3>
            <h3 class="mb-3">Módulo III</h3>
        </div>
    </div>
</div>
